<!DOCTYPE html>

<html>
    <head>
        <title>Follow me</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>Follow me</h1>

        <form action="/followme/create/" method="post">
            <p>
                <label for="username">username : </label><br/>
                <input type="text" name="username" id="username" value="" autofocus /></p>
                <p><label for="room">room (optional) : </label><br/>
                <input type="text" name="room" id="room" value="<%= room %>" autofocus /></p>
                <p><input type="submit" /></p>
            
        </form>
    </body>
</html>